body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.wrapper {
  max-width: $wrapper-max-width;
  min-width: $wrapper-min-width;
  margin: 0 auto;
  padding: 0 $wrapper-side-padding;
  @media screen and (max-width: $medium-screen-width) {
    max-width: $medium-screen-width;
  }
  @media screen and (max-width: $small-screen-width) {
    max-width: $small-screen-width;
  }
}
.section-header {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  @media screen and (max-width: $medium-screen-width) {
    font-size: 42px;
  }
}
.action-button {
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-purple;
  text-decoration: none;
}
.divider {
  display: block;
  height: 5px;
  width: 60px;
  background-color: #8d81ac;
  margin: 0 auto;
}
