@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../fonts/lato-regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold Italic"), url(../fonts/lato-italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
