$font-size: 11px;
$vertical-padding: 0.5em;
$border-radius: 2px;
.git-btn {
  text-decoration: none;
  font-size: $font-size;
  font-weight: 800;
  color: black;
  &__inner {
    display: inline-block;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    vertical-align: bottom;
    border: 1px solid $color-grey;
    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-left: none;
    }
  }

  &__content {
    padding-right: 10px;
    padding-left: 5px;
    min-width: 35px;
    background: linear-gradient(180deg, $color-white 50%, #f4f4f4 70%);
    &:hover {
      background: $color-white;
    }
  }
  &__counter {
    background-color: #fff;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.btn-icon {
  position: relative;
  padding-left: 28px;
  padding-right: 11px;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-43%);
    padding-left: 10px;
  }
}

.watch-icon {
  &::before {
    content: url("../img/revolutionary-editor/watch-icon.svg");
  }
}
.star-icon {
  &::before {
    content: url("../img/revolutionary-editor/star-icon.svg");
  }
}
.fork-icon {
  &::before {
    content: url("../img/revolutionary-editor/fork-icon.svg");
  }
}
