// .git-btn {
//   // background-color: #f4f4f4;
//   background: linear-gradient(
//     0deg,
//     rgba(244, 244, 244, 1) 0%,
//     rgba(255, 255, 255, 1) 120%
//   );
//   background: red;
//   border: 1px solid rgba(132, 142, 151, 1);
//   border-radius: 3px;
//   // padding-top: 3px;
//   // padding-bottom: 2px;
//   padding-left: 5px;
//   text-decoration: none;
//   font-size: 12px;
//   font-weight: 800;
//   color: black;
//   vertical-align: middle;
//   height: 100%;

//   &::before {
//     padding-right: 2px;
//     padding-left: 5px;
//     vertical-align: middle;
//   }
//   &:hover {
//     background: rgba(132, 142, 151, 0.2);
//   }
//   &__counter {
//     border-left: 1px solid rgba(132, 142, 151, 1);
//     border-bottom-right-radius: 2px;
//     border-top-right-radius: 2px;
//     // padding-top: 3px;
//     // padding-bottom: 5px;
//     padding-left: 5px;
//     padding-right: 6px;
//     margin-left: 10px;
//     // margin: 0;
//     line-height: 1.4;
//     height: 100%;
//     display: inline-block;
//     background-color: #fff;
//     vertical-align: middle;
//   }
// }

$font-size: 11px;
$vertical-padding: 0.5em;
$border-radius: 2px;
.git-btn {
  text-decoration: none;
  font-size: $font-size;
  font-weight: 800;
  color: black;
  &__inner {
    display: inline-block;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    // padding-left: 5px;
    // padding-right: 5px;
    vertical-align: bottom;
    border: 1px solid rgba(132, 142, 151, 1);
    // border: 1px solid rgba(132, 142, 151, 1);
    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-left: none;
    }
  }

  &__content {
    padding-right: 10px;
    padding-left: 5px;
    min-width: 35px;
    // background-color: red;
    background: linear-gradient(
      0deg,
      rgba(244, 244, 244, 1) 0%,
      rgba(255, 255, 255, 1) 120%
    );
  }
  &__counter {
    background-color: #fff;
    padding-left: 7px;
    padding-right: 7px;
  }
}
.btn-icon {
  position: relative;
  padding-left: 28px;
  padding-right: 11px;
  &:before {
    // position: relative;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-43%);
    padding-left: 10px;
    // padding-right: 5px;
  }
  &::before {
  }
}

.watch-icon {
  &::before {
    content: url("../img/revolutionary-editor/watch-icon.svg");
  }
}
.star-icon {
  &::before {
    content: url("../img/revolutionary-editor/star-icon.svg");
  }
}
.fork-icon {
  &::before {
    content: url("../img/revolutionary-editor/fork-icon.svg");
  }
}
