@mixin font($family: 'Montserrat', $style, $weight, $size, $height) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(../img/img_1.png) center center no-repeat;
    background-size: cover;
    height: 800px;
    button {
        color: $color-white;
        text-align: center;
        background-color: $color-purple;
        border-radius: 40px;
        padding: 0;
        border: 0;
        transition: 1s;
        &:hover {
            color: $color-purple;
            background-color: $color-white;
            border: 2px solid $color-purple;
        }
    }
}

navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 90px;
    line-height: 17px;
    span {
        color: $color-purple;
        text-transform: uppercase;
    }
    @media (max-width: $wrapper-max-width){
        background-color: #27262A;
        height: 118px;
    }
    @media (max-width: $small-screen-width) {
        height: 103px;
    }
}

.navbar-logo {
    display: flex;
    align-items: flex-end;
    transition: 1s;
    span {
        margin: 0 0 5px 17px;
        @include font('Lato', normal, 700, 24px, 16px);
        transition: 1s;
        &:hover {
            color: $color-white;
        }
        @media (max-width: $small-screen-width) {
            display: none;
        }
    }
    @media (max-width: $wrapper-max-width) {
        position: absolute;
        left: 20px;
        top: 22px;
    }
    // svg {
    //     fill: currentColor;
    //     &:hover {
    //         fill: $color-white;
    //     }
    // }
}

.navbar-nav{
    display: flex;
    gap: 48px;
    ul {
        list-style: none;
        display: flex;
        gap: 10%;
        width: 517px;
        align-items: center;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @include font('Montserrat', normal, 700, 16px, 15px);
        @media (max-width: $wrapper-max-width) {
            position: absolute;
            top: 83px;
            width: 517px;
            height: 21px;
            left: calc(50% - 517px/2);
            line-height: 18px;
        }
        @media (max-width: $small-screen-width) {
            display: none;
        }
    }
    li {
        display: inline;
    }
    a {
        color: $color-purple;
        text-decoration: none;
        transition: 1s;
        &:hover {
            color: $color-white;
        }
    }
}

.navbar-button {
    @include font('Montserrat', normal, 700, 16px, 17px);
    width: 145px;
    height: 37px;
    @media (max-width: $wrapper-max-width) {
        position: absolute;
        right: 20px;
        top: 24px;
        line-height: 16px;
    }
    @media (max-width: $small-screen-width) {
        position: absolute;
        top: 34px;
        width: 145px;
        left: calc(50% - 145px/2);
        line-height: 18px;
    }
}

.header-content {
    position: absolute;
    top: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin: 0;
    padding: 0;
    h1 {
        color: $color-white;
        @include font('Montserrat', normal, 700, 82px, 82px);
    }
    span {
        color: $color-purple;
        @include font('Lato', normal, 400, 30px, 30px);
        text-align: center;
    }
    p {
        color: $color-grey;
        @include font('Montserrat', normal, 400, 16px, 16px);
    }
    @media (max-width: $wrapper-max-width) {
        top: 186px;
        h1 {
            @include font('Montserrat', normal, 700, 72px, 72px);
        }
        span {
            @include font('Lato', normal, 400, 24px, 24px);
        }
        p {
            @include font('Lato', normal, 400, 14px, 14px);
        }
    }
    @media (max-width: $small-screen-width) {
        text-align: center;
        top: 153px;
        h1 {
            @include font('Montserrat', normal, 700, 48px, 48px);
        }
        span {
            @include font('Lato', normal, 400, 18px, 24px);
        }
    }
}

#download {
    @include font('Montserrat', normal, 700, 21px, 22px);
        width: 390px;
        height: 62px;
    @media (max-width: $wrapper-max-width) {
        line-height: 22px;
    }
    @media (max-width: $small-screen-width) {
        @include font('Montserrat', normal, 700, 18px, 20px);
        width: 290px;
        height: 45px
    }
}

.button {
    position: relative;
    bottom: -80px;
    div {
        text-align: center;
        color: $color-grey;
        @include font('Montserrat', normal, 400, 14px, 15px);
            margin: 19px;
        @media (max-width: $wrapper-max-width) {
            line-height: 16px;
        }
        @media (max-width: $small-screen-width) {
            @include font('Montserrat', normal, 400, 14px, 14px);
        }
    }
}