.price-section {
  background-color: grey;
  color: #fff;
  background-image: url("../img/price/price-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-cards {
  display: flex;
  justify-content: stretch;
  gap: 20px;
  width: 100%;
}
.price-card {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 400;
  width: 25%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.11);
  &__plan {
    font-size: 24px;
    font-weight: 400;
    padding: 36px 5px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.06);
  }
  &__price {
    font-size: 60px;
    font-weight: 700;
    padding: 30px 5px 20px 5px;
  }
  &__price-currency {
    font-weight: 400;
  }
  &__period {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 5px 10px 5px;
  }
  &__divider {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  &__advantage {
    font-size: 16px;
    min-height: 78px;
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      line-height: 1.1;
    }
  }

  &__button {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    padding: 13px 5px;
    min-width: 163px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.15);
  }
}
