.testimonials {
  max-width: 100%;
  padding: 0 $wrapper-side-padding;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, transparent 80%, #4b3b4e 100%),
    url("../img/testmonials-bg_1.png") center/cover no-repeat;
  height: 100%;
  &__title {
    margin-top: 108px;
    color: $color-white;
    @include font("Montserrat", normal, 700, 48px, 50px);
    text-align: center;
    @media screen and (max-width: $medium-screen-width) {
      @include font("Montserrat", normal, 700, 42px, 44px);
      margin-top: 85px;
    }
    @media screen and (max-width: $small-screen-width) {
      @include font("Montserrat", normal, 700, 36px, 48px);
      margin-top: 47px;
    }
  }
  &__main {
    &__list {
      margin: 70px 18px 120px;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 120px;
      justify-content: space-around;
      @media screen and (max-width: $medium-screen-width) {
        margin: 80px 0 80px;
        gap: 90px;
      }
      @media screen and (max-width: $small-screen-width) {
        row-gap: 80px;
        margin: 45px 16px 100px;
      }
    }
    &__link {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      list-style: none;
      color: $color-white;
      gap: 20px;
      @include font("Lato", italic, 700, 16px, 24px);
      @media screen and (max-width: $medium-screen-width) {
        width: 40%;
      }
      @media screen and (max-width: $small-screen-width) {
        width: 100%;
      }
      &-description {
        height: 55px;
        max-width: 325px;
        @media screen and (max-width: $small-screen-width) {
          max-width: 290px;
          @include font("Lato", italic, 700, 16px, 24px);
        }
      }
    }
  }
  &__description {
    max-width: 890px;
    margin: auto;
    color: #a291a5;
    @include font("Lato", normal, 400, 14px, 21px);
    text-align: center;
    @media screen and (max-width: $medium-screen-width) {
      width: 90%;
    }
    @media screen and (max-width: $small-screen-width) {
      width: 80%;
    }
    &::after {
      content: " ";
      display: block;
      position: relative;
      max-width: 780px;
      height: 10px;
      border-bottom: #645766 2px solid;
      margin: auto;
      @media screen and (max-width: $medium-screen-width) {
        max-width: 555px;
      }
      @media screen and (max-width: $small-screen-width) {
        height: 25px;
      }
    }
  }
}
