.prop-card {
  display: grid;
  justify-content: end;
  grid-template-columns: 100px 1fr;
  grid-template-columns: 112px minmax(50%, 464px);
  grid-auto-flow: row;
  padding-bottom: 20px;
  column-gap: 1.5vw;
  @media screen and (max-width: $medium-screen-width) {
    grid-template-columns: 136px 1fr;
  }
  @media screen and (max-width: $small-screen-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 92px 1fr;
    text-align: center;
    padding-bottom: 0px;
    min-height: 250px;
  }
  &__icon-wrapper {
    justify-self: center;
    max-width: 90px;
    @media screen and (max-width: $medium-screen-width) {
    }
    @media screen and (max-width: $small-screen-width) {
      justify-self: center;
      padding-bottom: 27px;
    }
  }
  &__icon {
    max-height: 84px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  &__header {
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    padding-bottom: 11px;
    @media screen and (max-width: $medium-screen-width) {
      padding-bottom: 3px;
    }
    @media screen and (max-width: $small-screen-width) {
      padding-bottom: 14px;
    }
  }
  &__description {
    font-size: 14px;
    color: #848e97;
    line-height: 1.5;
    @media screen and (max-width: $small-screen-width) {
      font-family: Lato, Arial, Helvetica, sans-serif;
    }
  }
}
