.prop-card {
  display: grid;
  justify-content: end;
  grid: auto-flow / 126px minmax(50%, 464px);
  column-gap: 23px;
  min-height: 144px;
  @media screen and (max-width: $medium-screen-width) {
    grid-template-columns: 131px 1fr;
    min-height: 140px;
    padding-top: 10px;
  }
  @media screen and (max-width: $small-screen-width) {
    grid: 92px 1fr / 1fr;
    text-align: center;
    padding-bottom: 0px;
    min-height: 247px;
  }

  &__icon {
    &--wrapper {
      justify-self: center;
      max-width: 90px;
      @media screen and (max-width: $medium-screen-width) {
      }
      @media screen and (max-width: $small-screen-width) {
        padding-bottom: 27px;
      }
    }
    max-height: 84px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  &__content--wrapper {
    max-width: 385px;
    @media screen and (max-width: $medium-screen-width) {
      max-width: none;
    }
  }
  &__header {
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    padding-bottom: 11px;
    @media screen and (max-width: $medium-screen-width) {
      padding-bottom: 9px;
    }
    @media screen and (max-width: $small-screen-width) {
      padding-bottom: 12px;
    }
  }
  &__description {
    font-size: 14px;
    color: $color-grey;
    line-height: 1.5;
    @media screen and (max-width: $small-screen-width) {
      @include lato-font;
    }
  }
}
