.what-you-get {
  /*TEMPORARY*/
  min-height: 2000px;
  /*TEMPORARY*/

  background-color: #f4f4f4;
  @media screen and (max-width: $medium-screen-width) {
    background-color: #fff;
  }
  &__wrapper {
    display: grid;
    grid-template-areas:
      "props header"
      "props screenshot"
      "props screenshot"
      "props screenshot";
    grid-template-columns: 1.1fr 1.1fr;
    grid-template-rows: 1fr 7.5fr;
    column-gap: 0vw;
    padding-top: 71px;
    @media screen and (max-width: $medium-screen-width) {
      grid-template-areas:
        "header"
        "props"
        "screenshot";
      grid-template-columns: 1fr;
      grid-template-rows: auto 8fr 8fr;
      max-width: 768px;
      justify-items: center;
    }
    @media screen and (max-width: $small-screen-width) {
      max-width: 320px; /* TEMPORARY */
    }
  }
}
.what-you-get__header {
  grid-area: header;
  justify-self: start;
  text-transform: initial;
  text-align: start;
  line-height: 1.2;
  position: relative;
  left: 25px;
  color: #8d81ac;
  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }

  @media screen and (max-width: $medium-screen-width) {
    justify-self: center;
    left: 0;
    padding-bottom: 43px;
    font-size: 42px;
    text-align: center;
  }
  @media screen and (max-width: $small-screen-width) {
    font-size: 32px;
    padding-bottom: 27px;
  }
}
.props {
  grid-area: props;
  padding-top: 8px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 140px);
  grid-template-rows: auto;
  grid-auto-flow: row;
  justify-items: stretch;
}
.prop-card {
  display: grid;
  justify-content: end;
  grid-template-columns: 100px 1fr;
  grid-template-columns: 112px minmax(50%, 464px);
  grid-auto-flow: row;
  padding-bottom: 20px;
  column-gap: 1.5vw;
  @media screen and (max-width: $medium-screen-width) {
    grid-template-columns: 136px 1fr;
  }
  @media screen and (max-width: $small-screen-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 92px 1fr;
    text-align: center;
    padding-bottom: 0px;
    min-height: 250px;
  }
  &__icon-wrapper {
    justify-self: center;
    max-width: 90px;
    @media screen and (max-width: $medium-screen-width) {
    }
    @media screen and (max-width: $small-screen-width) {
      justify-self: center;
      padding-bottom: 27px;
    }
  }
  &__icon {
    max-height: 84px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  &__header {
    font-size: 16px;
    font-weight: 400;
    color: #323232;
    padding-bottom: 11px;
    @media screen and (max-width: $medium-screen-width) {
      padding-bottom: 3px;
    }
    @media screen and (max-width: $small-screen-width) {
      padding-bottom: 14px;
    }
  }
  &__description {
    font-size: 14px;
    color: #848e97;
    line-height: 1.5;
    @media screen and (max-width: $small-screen-width) {
      font-family: Lato, Arial, Helvetica, sans-serif;
    }
  }
}

.fork-screenshot {
  object-fit: cover;
  @media screen and (max-width: $small-screen-width) {
    max-height: 381px;
  }
  &__wrapper {
    grid-area: screenshot;
    justify-self: end;
    width: 101.5%;
    min-width: 600px;
    height: auto;
    position: relative;
    right: -$wrapper-side-padding;
    overflow: hidden;
    text-align: end;
    @media screen and (max-width: $medium-screen-width) {
      width: 93%;
      padding-top: 3.5vw;
      min-width: auto;
    }
    @media screen and (max-width: $small-screen-width) {
      width: 100%;
    }
  }
}
