<navbar class="navbar-shell">
    <div class="navbar wrapper">
        <a href="#" class="navbar__logo">
            <div class="navbar__logo__svg"></div>           
            <span class="navbar__logo__title">Forkio</span>
        </a>
        <div class="navbar__menu">
            <ul class="navbar__menu__list">
                <li class="navbar__menu__elem"><a class="navbar__menu__link" href="#">Overview</a></li>
                <li class="navbar__menu__elem"><a class="navbar__menu__link" href="#about">About Fork</a></li>
                <li class="navbar__menu__elem"><a class="navbar__menu__link" href="#options">Buying Options</a></li>
                <li class="navbar__menu__elem"><a class="navbar__menu__link" href="#support">Support</a></li>
            </ul>
            <button class="navbar__menu__button action-button">Buy Now</button>
        </div>
    <button id="burger" class="navbar__button__burger">
        <span class="navbar__button__burger-toggle" style="opacity: 1">&#x2013; &#x2014; &#x2014;</span>
        <span class="navbar__button__burger-toggle" style="opacity: 0">&times;</span>
    </button>
    </div>
</navbar>