<section class="rev-editor wrapper">
	<h2 class="section-header rev-editor__header">
		Revolutionary editor
	</h2>
	<p class="rev-editor__content">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
		dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
	<div class="git-block">
		<a href="#" class="git-btn "> <span
				class="git-btn__inner git-btn__content btn-icon watch-icon">Watch</span><span
				class="git-btn__inner git-btn__counter num-separator">1397</span></a>
		<a href="#" class="git-btn "><span class="git-btn__inner git-btn__content btn-icon star-icon">Star</span><span
				class="git-btn__inner git-btn__counter num-separator">21038</span>
		</a>
		<a href="#" class="git-btn "><span class="git-btn__inner git-btn__content btn-icon fork-icon">Fork</span><span
				class="git-btn__inner git-btn__counter num-separator">4391</span>
		</a>
	</div>
</section>